body {
    margin: 0;
    padding: 0;
}

.main {
    width: 100vw;
    height: max(100vh, 300px);
}

#map {
    width: 100%;
    height: 100%;
}

.maplibregl-ctrl-toggle-displaymode {
    padding: 0 5px !important;
    width: auto !important;
}

.layers-control .layer-control {
    display: block;
    padding: 0.2em;
}